/*

Main CSS for Cox Media Group UI Code Test
Brent Bollmeier
10/11/2012

*/

body {
	font-family:"Arial", Verdana, sans-serif;
	font-size:12px;
}

.breadcrumbs {
	width:100%;
	text-transform:uppercase;
	font-size:11px;
	font-weight:bold;
	color:#036dbe;
	border-top:1px solid #cdcdcd;
	border-bottom:1px solid #cdcdcd;
	padding-top:3px;
	padding-bottom:3px;
}
.listItem {
	margin-bottom:15px;
	position:relative;
	clear:both;
}
.listItem .headline {
	text-transform:capitalize;
	font-size:16px;
	font-weight:bold;
	color:#036dbe;
}
.listItem .category, .listItem .posted, .listItem .updated {
	font-size:14px;
	color:#444444;
}
.spnMiddle {
	display:block;
	vertical-align:bottom;
	height:110px;
	padding-top:6px;
}
.spnSprite {
	margin-right:10px;
	text-transform:uppercase;
	font-weight:bold;
	font-size:11px;
}
#sprite {
	display:inline-block;
	overflow:hidden;
	position:relative;
	width:20px;
	height:25px;
}
#sprite img {
	margin-top:5px;
	position:absolute;
}
#sprite img.comment {
	left:0px;
}
#sprite img.share {
	left:-20px;
}
#sprite img.favorite {
	left:-40px;
}
#sprite img.vote {
	left:-60px;
}
.img_thumb {
	border:3px solid white;
	float:left;
	text-shadow:#999;
	box-shadow: 3px 3px 4px #777;
	margin-right: 6px;
}
#title {
	font-size:24px;
	color:#444444;
	margin-bottom:7px;
	margin-top:7px;
}
.dates {
	font-size:11px;
	font-weight:bold;
	color:#444444;
	margin-bottom:7px;
	margin-top:7px;
}
#story {
	font-size:14px;
	line-height:18px;
	color:#444444;
}
a {
	color:#036dbe;
}
#photoCaption {
	font-size:14px;
	line-height:14px;
	color:#444444;
}

/* Wide version of page */
@media screen and (min-width: 480px) {
	.narrow {
	display:none;
	}
	
	#content {
	 margin-left:270px;
	}
	
	#story {
	 columns:260px 2;
	-webkit-columns:260px 2;
	-moz-columns:260px 2;
	-moz-column-gap:15px;
	-webkit-column-gap:15px;
	column-gap:15px;
	}
	
	#photoBox {
	float:left;
	width:auto;
	}
	
	#photo {
	position:relative;
	}
	
	#sprite img {
	display:none; /*Eliminate the brief popping of color version on page load.  Set Display in onLoad. */
	}
	
	#photoCredit {
	text-align:right;
	line-height:18px;
	background:white;
	padding:2px;
	color:#000000;
	opacity:0.6;
	position:relative;
	float:right;
	top:-20px;
	width:auto;
	}
	#story p:first-child {
	 margin-top:0px;
	}
}

/* Narrow version */
@media screen and (max-width: 480px) {
	#story {
	 column-count:1;
	 -moz-column-count:1;
	 -webkit-column-count:1;
	 -ms-column-count:1;
	 column-width:260px;
	}
	
	.wide {
	display:none;
	}
	
	#photoBox {
	 width:inherit;
	 height:auto;
	}
	
	#photoCredit {
		position:relative;
		left:170px;
		text-align:right;
		line-height:18px;
		background:white;
		padding:2px;
		color:#898989;
		width:auto;
	}
}
